<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link href="/src/public/css/login.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">"
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet"/>
</head>
<body>
    <header>
        <img class="logo" src="/src/public/images/logo-mercado-liebre.svg" alt="logo de mercado Liebre">
         
        <div class="search">
            <form action="/src/views/home.html" method="get">
                <input class="barra" type="text" name="buscador" placeholder="Search"></type><button><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
        </div>
    
        <div class="cuotas-tarjetas">
            <span i class="fa-solid fa-hand-holding-dollar" "></span>
            <span>Comprá en cuotas y sin tarjeta de crédito</span>
        </div>
        
        <nav> 
            <div class="lista">
                <ul>
                    <a href="#">Ofertas</a>
                   <a href="#">Tiendas oficiales</a>
                    <a href="#">Vender</a>
                    <a href="#">Ayuda</a>
            </div>
            <div class="lista2">
                  <a href="#">Creá tu cuenta    </a><i class="fa-regular fa-id-card"></i></li>
                  <a< href="#">Ingresá    </a><i class="fa-solid fa-right-to-bracket"></i></li>
                  <a href="#">Mis compras</a><i class="fa-solid fa-basket-shopping"></i></li>
                 
            </div>
        </nav>
                <div class="burger-menu">
                     <i class="fas fa-bars"></i>
                 </div>
           
        
    </header>
    <main>
        <p class="titulo">Login de usuario</p>
        <form action="" method="post">
            <input type="text" name="usuario" placeholder="Nombre de usuari@">
            <input type="password" name="password" placeholder="Ingrese su contraseña">
            <button>Enviar</button>
        </form>
    </main>
    <footer>
        <section>
            <article>
                <i class="fa-solid fa-credit-card" style="color: #1259c3;"></i>
                <h4>Pagá con tarjeta o en efectivo</h4>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </article>
            <article>
                <i class="fa-solid fa-gift" style="color: #1259c3;"></i>
                <h4>Envío gratis desde $ 2.500</h4>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </article>
            <article>
                <i class="fa-solid fa-user-shield" style=" color: #1259c3;"></i>
                <h4>Seguridad, de principio a fin</h4>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </article>
            <br>
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
</body>
</html>